{# templates/main/main.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    nav {
        background-color: #5e5e5e;
        color: white;
    }

    nav h1 {
        width: 65%;
        margin: auto;
    }
    
    .container {
        border-radius: 10px;
        background-color: white;
        color: #2e2e2e;
        margin: auto;
        left: 50%;
        top: 50%;
        padding: 20px;
        width:65%;
    }

    .currentSchedule {
        border-radius: 10px;
        background-color: white;
        color: #2e2e2e;
        padding: 20px;
        width:65%;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block title %}Create Your Schedule{% endblock %}

{% block body %}

<nav>
    <h1>Create Your Class Schedule</h1>
</nav>


<div class="container">
<form id="scheduleBuilder">
    <div class="form-group">
        <label for="username">Username*</label>
        <input type="text" class="form-control" id="username" required="true" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="email">Email Address*</label>
        <input type="email" class="form-control" id="email" required="true" placeholder="Email">
    </div>

    <button class="confirmStudent btn btn-primary">Continue</button>

    <div id="student_id"></div>

    <div class="form-group">
    <select class="selectSubject browser-default custom-select" style="display:none"></select>
    </div>

    <div class="form-group">
    <select class="selectTopic browser-default custom-select" style="display:none"></select>
    </div>
    
    <div class="form-group">
    <select class="selectTimeslot browser-default custom-select" style="display:none"></select> 
    </div>

    <button type="submit" style="display:none" class="btn btn-primary submit">Enroll!</button>
</form>

    <div class='currentSchedule' style="display:none">
        <h3>Your Current Schedule</h3>
        <span class="empty"></span>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Topic</th>
                <th scope="col">Subject</th>
                <th scope="col">Class Time</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>


    <script>
    $( document ).ready(function() {
    var student_id = '';
    var timeslot_id = '';
    var class_times = [];

    $('.confirmStudent').click(function() {
        event.preventDefault();
        var username = $('#username').val();
        var email = $('#email').val();
        var first_check = validate_username(username);
        var second_check = validate_email(email);
        if (!first_check || !second_check) {
            return false;
        } else {
        $.ajax({
            url: "/public/api/find-user/" + username + "/" + email,
            success: function(result){
            student_id = result.student_id;
            display_id = ("0000000" + student_id).slice(-7);
            $('#student_id').html("<h3>Your Student ID: "+display_id+"</h3>");
            $('#username, #email').prop("readonly", true);
            get_student_schedule(result.student_id);
        }});
        }
    });

    function get_student_schedule(student_id) {
        $.ajax({
            url: "/public/api/find-schedule/" + student_id,
            success: function(result){
            $('.confirmStudent').hide();
            $('.currentSchedule').show();
            if (result.status === false) {
                $('.empty').html("You Are Not Currently Enrolled In Any Classes.");
                $('.empty').show();
            } else {
                $.each(result.schedule,function(index, data){
                    class_times.push(data.timeslot);
                    $('table tbody').append('<tr><td>'+data.topic+'</td><td>'+data.subject+'</td><td>'+data.timeslot+'</td></tr>');
                });
                console.log(class_times);
            }
            get_subjects();
        }});
    } 

    function get_subjects() {
        $.ajax({
            url: "/public/api/find-subjects",
            success: function(data){
                $('.selectSubject').show();
                $('.selectSubject, .selectTopic, .selectTimeslot').empty();
                var subjects = data.subjects;
                $('.selectSubject').append($('<option>').val('').text('Select a Subject'));
                $.each(subjects,function(index, data){
                    $('.selectSubject').append($('<option>').val(data.id).text(data.subject));
                });
            }
        });
    };

    $('.selectSubject').change(function(){ 
        var subject = $(this).find("option:selected").attr('value');
        $.ajax({
            url: "/public/api/find-topic/" + subject,
            success: function(data){
                $('.selectTopic').show();
                $('.selectTopic, .selectTimeslot').empty();
                var topics = data.topics;
                $('.selectTopic').append($('<option>').val('').text('Select a Topic'));
                $.each(topics,function(index, data){
                    $('.selectTopic').append($('<option>').val(data.id).text(data.topic));
                });
            }
        });
    });

    $('.selectTopic').change(function(){ 
        var topic = $(this).find("option:selected").attr('value');
        $.ajax({
            url: "/public/api/find-timeslot/" + topic,
            success: function(data){
                $('.selectTimeslot').show();
                $('.selectTimeslot').empty();
                var timeslots = data.timeslots;
                $('.selectTimeslot').append($('<option>').val('').text('Select a Timeslot'));
                $.each(timeslots,function(index, data){
                    if ($.inArray(data.timeslot, class_times) === -1) {
                        $('.selectTimeslot').append($('<option>').val(data.id).text(data.timeslot));
                    }
                });
                console.log($('.selectTimeslot').children('option').length);
                console.log("Meow");
                if ($('.selectTimeslot').children('option').length < 2) {
                    alert("There Are No Class Times Available");
                    reset_form();
                }
            }
        });
    });

    $('.selectTimeslot').change(function(){
        $('.submit').show();
    });

    $('.submit').click(function() {
        event.preventDefault();
        var timeslot_id = $('.selectTimeslot').find("option:selected").attr('value');
        $.ajax({
            url: "/public/api/add-timeslot/" + student_id + "/" + timeslot_id,
            success: function(result){
                $('.selectTopic, .selectSubject, .selectTimeslot').hide();
                $('.selectTopic, .selectSubject, .selectTimeslot, table tbody').empty();
                get_student_schedule(student_id);
        }});
    });


    function reset_form() {
        $('.selectTopic, .selectSubject, .selectTimeslot').hide();
        $('.selectTopic, .selectSubject, .selectTimeslot, table tbody').empty();
        get_student_schedule(student_id);
        class_times = [];
    }

    function validate_email(email) {
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(!regex.test(email)) {
        alert("Invalid Email");
        reset_form();
        $('#email').val('');
        return false;
        } else {
        return true;
        }
    };

    function validate_username(username) {
        var regex2 = /^[a-zA-Z0-9_]*$/;
        if(!regex2.test(username)) {
        alert("Invalid Username");
        reset_form();
        $('#username').val('');
        return false;
        } else {
        return true;
    }
    };

    });

    </script>
{% endblock %}